div#body{
    width: 100%;
    background: url('/static/img/debut_dark.png') repeat #CCC;
    position: relative;
    
}

div.light{
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

    div.light span{
        display: none;
    }

body.delete-lights div.light, body.change-colors div.light{
    cursor: pointer;
}

body.move-lights div.light{
    cursor: move;
}

body.show-numbers div.light span{
    display: inline;
}

.nav li{
    margin-right: 10px;
}

#slider{
    margin-top: 13px;
    width: 200px;
    visibility: hidden;
}

body.change-colors #slider{
    visibility: visible;
}
.ui-slider-handle{
    cursor: pointer!important;
}
    