div#body{
    width: 100%;
    background-color: black;
    position: relative;
}

div.light{
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

    div.light span{
        display: none;
    }

div#body.add-lights div.light{
    cursor: default;
}

div#body.show-numbers div.light span{
    display: inline;
}