<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <link href='{{STATIC_URL}}css/bootstrap.css' rel='stylesheet'>
        <link href='{{STATIC_URL}}css/main.css' rel='stylesheet'>
    </head>
    
    <body>
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
              <a class="brand" href="/">LightshowMaker</a>
                <ul class="nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{current_show.name|default:'Shows'}}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href='#' id='add-show'>Add Show</a></li>
                            <li class='divider'></li>
                            {% for show in shows %}
                                <li><a href='{% url show show.id %}'>
                                    <i class='icon-ok' {% if show != current_show %} style='visibility:hidden;' {% endif %}></i>
                                    {{show.name}}
                                </a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><button id='add-lights' type="button" class="btn btn-primary" data-toggle="button">Add Lights</button></li>
                </ul>
            </div>
        </div>
        
        <div id='body'>
        </div>
        
        <script src='{{STATIC_URL}}js/jquery-1.8.3.js'></script>
        <script src='{{STATIC_URL}}js/bootstrap.js'></script>
        <script src='{{STATIC_URL}}js/main.js'></script>
    </body>
</html>